# Ignore Vivado build folders and temporary files
*.cache/
*.hw/
*.ip_user_files/
*.runs/
*.sim/
*.gen/
*.xpr
*.log
*.jou
*.str

# Ignore compiled bitstreams
*.bin

# Ignore Vitis HLS folders (keep only .cpp and .h source files)
*/solution1/